.view-id-deptwise_documents table{ width:90%;border:3px !important; padding: 6px;}
.view-id-deptwise_documents table a{text-decoration:none;}
.view-id-deptwise_documents table td{padding:5px;margin:5px;}